<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="icon" href="../images/logo.png">
    <title>Daniel Perez</title>
</head>

<body>
    <!-- TOP BAR -->
    <div class="container full-width">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #023047;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/logo.png" width="30" height="30" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#aboutme">- About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projects">- Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/daniel-perez122/"><i class="bi bi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

    </div>

    <div class="container" ng-app="blog-editor" ng-controller="create-post">

        <div class="row  blog-header">
            <div class="col-lg-4 offset-lg-2 border-bottom">
                <h1>
                    Post Editor
                </h1>
            </div>

        </div>



        <form>
            <div class="row">

                <div class="col-lg-8 offset-lg-2">
                    <input ng-model="title" style="width: 100%; font-size: x-large;" placeholder="Title"></input>
                </div>
            </div>
            <div class="row  blog-header">
                <div class="col-lg-8 offset-lg-2">
                    <textarea ng-model="content" style="height: 500px; width: 100%;" placeholder="Content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-2">
                    <a type="button" name="submit" ng-click="postData(title,content)" ng-show="editMode == false" style="margin-top: 50px; font-size: 1em;" class="btn btn-primary btn-lg">Send</a>
                    <a type="button" name="submit" ng-click="putData(title,content)" ng-show="editMode" style="margin-top: 50px; font-size: 1em;" class="btn btn-warning btn-lg">Confirm Edit</a>
                    <a type="button" name="submit" ng-click="editMode = false" ng-show="editMode" style="margin-top: 50px; font-size: 1em;" class="btn btn-danger btn-lg">Cancel Edit</a>
                </div>
                <div class="col-lg-2">
                    <a type="button" ng-click="loadPosts()" name="submit" data-bs-toggle="modal" data-bs-target="#editModal" style="margin-top: 50px; font-size: 1em;" class="btn btn-primary btn-lg">Edit or Delete</a>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="mLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mLabel">Edit/Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="post-edit-table">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="post in posts">
                                <td>
                                    {{post.id}}
                                </td>
                                <td>
                                    {{post.title}}
                                </td>
                                <td>
                                    <button type="button" ng-click="setText(post)" class="btn btn-warning btn-xs" data-bs-dismiss="modal">Edit</button>
                                    <button type="button" ng-click="deletePost(post.id);posts.splice($index,1)" class="btn btn-danger btn-xs">Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous "></script>
    <script src="../js/Blog-Editor.js"></script>
</body>

</html>