<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="icon" href="../images/logo.png">
    <title>Daniel Perez</title>
</head>

<body>
    <!-- TOP BAR -->
    <div class="container full-width">
        <div class="row">
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark " style="background-color: #023047;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/logo.png" width="30" height="30" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#aboutme">- About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projects">- Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.linkedin.com/in/daniel-perez122/"><i class="bi bi-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

    </div>

    <div class="container" ng-app="blog-editor" ng-controller="create-post">

        <div class="row  blog-header">
            <div class="col-lg-4 offset-lg-2 border-bottom">
                <h1>
                    Post Editor
                </h1>
            </div>

        </div>
        <form>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 " style="padding: 0px;">
                    <input ng-model="title" style="width: 100%; font-size: x-large;" placeholder="Title"></input>
                </div>
            </div>
            <!-- MENU ITEMS -->
            <div class="row">
                <div class="col-lg-8 offset-lg-2 editor-menu">
                    <button title="bold" class="bi bi-type-bold" onclick="formatDoc('bold')"></button>
                    <button title="italic" class="bi bi-type-italic" onclick="formatDoc('italic')"></button>
                    <button title="underline" class="bi bi-type-underline" onclick="formatDoc('underline')"></button>
                    <button title="undo" class="bi bi-arrow-counterclockwise" onclick="formatDoc('undo')"></button>
                    <button title="redo" class="bi bi-arrow-clockwise" onclick="formatDoc('redo')"></button>
                    <button title="remove format" class="bi bi-eraser" onclick="formatDoc('removeFormat')"></button>
                    <button title="justify left" class="bi bi-text-left" onclick="formatDoc('justifyleft')"></button>
                    <button title="justify center" class="bi bi-text-center" onclick="formatDoc('justifyCenter')"></button>
                    <button title="justify right" class="bi bi-text-right" onclick="formatDoc('justifyright')"></button>
                    <button title="numbered list" class="bi bi-list-ol" onclick="formatDoc('insertorderedlist')"></button>
                    <button title="bullet point list" class="bi bi-list-ul" onclick="formatDoc('insertunorderedlist')"></button>
                    <button title="indent left" class="bi bi-text-indent-left" onclick="formatDoc('indent')"></button>
                    <button title="indent right" class="bi bi-text-indent-right" onclick="formatDoc('outdent')"></button>
                    <button title="hyperlink" class="bi bi-link" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}"></button>
                    <select onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
                        <option class="heading" selected>- normal -</option>
                        <option value="1">Very small</option>
                        <option value="2">A bit small</option>
                        <option value="3">Normal</option>
                        <option value="4">Medium-large</option>
                        <option value="5">Big</option>
                        <option value="6">Very big</option>
                        <option value="7">Maximum</option>
                        </select>
                    <select onchange="formatDoc('formatblock',this[this.selectedIndex].value);this.selectedIndex=0;">
                            <option selected>- formatting -</option>
                            <option value="h1">Title 1 &lt;h1&gt;</option>
                            <option value="h2">Title 2 &lt;h2&gt;</option>
                            <option value="h3">Title 3 &lt;h3&gt;</option>
                            <option value="h4">Title 4 &lt;h4&gt;</option>
                            <option value="h5">Title 5 &lt;h5&gt;</option>
                            <option value="h6">Subtitle &lt;h6&gt;</option>
                            <option value="p">Paragraph &lt;p&gt;</option>
                            <option value="pre">Preformatted &lt;pre&gt;</option>
                            </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2" style="padding: 0px;">
                    <div id="textContent" ng-model="content" contenteditable placeholder="Content"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-2">
                    <a type="button" name="submit" ng-click="postData(title,content);clearText()" ng-show="editMode == false" style="margin-top: 50px; font-size: 1em;" class="btn btn-primary btn-lg">Send</a>
                    <a type="button" name="submit" ng-click="putData(title,content);clearText()" ng-show="editMode" style="margin-top: 50px; font-size: 1em;" class="btn btn-warning btn-lg">Confirm Edit</a>
                    <a type="button" name="submit" ng-click="editMode = false;clearText()" ng-show="editMode" style="margin-top: 50px; font-size: 1em;" class="btn btn-danger btn-lg">Cancel Edit</a>
                </div>
                <div class="col-lg-2">
                    <a type="button" ng-click="loadPosts()" name="submit" data-bs-toggle="modal" data-bs-target="#editModal" style="margin-top: 50px; font-size: 1em;" class="btn btn-primary btn-lg">Edit or Delete</a>
                </div>
            </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="mLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mLabel">Edit/Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="post-edit-table">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="post in posts">
                                <td>
                                    {{post.id}}
                                </td>
                                <td>
                                    {{post.title}}
                                </td>
                                <td>
                                    <button type="button" ng-click="setText(post)" class="btn btn-warning btn-xs" data-bs-dismiss="modal">Edit</button>
                                    <button type="button" ng-click="deletePost(post.id);posts.splice($index,1)" class="btn btn-danger btn-xs">Delete</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous "></script>
    <script src="../js/Blog-Editor.js"></script>
</body>

</html>